# Art Experience Measure Form Data Cleaner
For use with data collected from 
https://docs.google.com/forms/d/1lU4xEuEcQ5wtN69vhZfT5xiDC1qwCLVJTm4xzF-XPAQ/edit and downloaded as a CSV

In [1]:
import pandas as pd
from numpy import array

In [2]:
raw_data = pd.read_csv("data/Art Experience Measure.csv")
raw_data

,Timestamp,Subject #:,How many studio art classes have you taken at the high school level or above?,How many art history classes have you taken at the high school level or above?,How many art theory or aesthetics classes have you taken at the highschool level or above?,"On average, you visit art museums about once every","On average, you visit art galleries about once every",In the average week how many hours do you spend making visual art?,In the average week how many hours do you spend reading a publication that is related to visual art?,In the average week how many hours do you spend each week looking at visual art?
0,2020/04/06 12:44:21 PM MDT,pilot01,5,3,3,year,NaN,0,0,0
1,2020/04/06 12:44:45 PM MDT,pilot02,0,0,0,year,Almost never,0,0,0

In [12]:
# Replace text responses with numeric responses
data = raw_data.replace({
    'Almost never':0,
    'year':1,
    '6 months':2,
    '2 months':3,
    'month':4,
    'week':5
}, regex=True)

data = data.fillna(0)
data

,Timestamp,Subject #:,How many studio art classes have you taken at the high school level or above?,How many art history classes have you taken at the high school level or above?,How many art theory or aesthetics classes have you taken at the highschool level or above?,"On average, you visit art museums about once every","On average, you visit art galleries about once every",In the average week how many hours do you spend making visual art?,In the average week how many hours do you spend reading a publication that is related to visual art?,In the average week how many hours do you spend each week looking at visual art?
0,2020/04/06 12:44:21 PM MDT,pilot01,5,3,3,1,0,0,0,0
1,2020/04/06 12:44:45 PM MDT,pilot02,0,0,0,1,0,0,0,0

In [17]:
# Sum data (excluding timestamp and subject)
sums = list(data.iloc[:, 2:].sum(axis=1))
sums

[12, 1]

In [20]:
# Compile cols in new dataframe

names = list(data[list(data.columns)[1]])

d = {
    'Subject':names,
    'Measure':sums,
}

df = pd.DataFrame(d)
df

   Subject  Measure
0  pilot01       12
1  pilot02        1

In [21]:
# Save as csv
df.to_csv('cleaned_data/cleaned_experience.csv', index=False)